.card-container.card{
	max-width: 350px;
	padding: 40px 40px;
}

.btn{
	font-weight: 700;
	height: 36px;
	-moz-user-select:none;
	-webkit-user-select;none;
	user-select:none;
	cursor:default;
}

.card{
	background-color: #F7F7F7;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 50px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

.form-sogin .form-control{
	direction:ltr;
	height: 35px;
	font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password]{
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.btn.btn-signin{
	color: #fff;
	background-color:rgb(0,158,192);
	padding: 0px;
	font-weight: 700;
	font-size: 14px;
	height: 36px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px; 
	border-radius:3px;
	border: none;
	-o-transition:all 0.218s;
	-moz-transition:all 0.218s;
	-webkit-transition:all 0.218s;
	transition: all 0.218s;
	text-align: center;
	width: 100%;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus{
	background-color: rgb()0,128,150;
}

.titleLogin{
	font-family: sans-serif;
}

/*

.head{
	height: 50px;
	background: #fed1b1;
	text-align: center;
	max-width: 100%;
}

.nav li{
	list-style: none;
	display: inline-block;
	padding: 15px;
	background: rgb(2,175,212);
}

.nav li:hover{
	background: rgb(101,223,250);
}

.nav a{
	color: #F7F7F7;
	text-decoration: none;
	font-family: sans-serif;
}

*/